<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="back_stage">
        <div class="main_weather">
            <form action="/" method="post">
                <% if(locals.value) { %>
                    
                    <% } else { %>
                        <input type="text" name="name" id="" value="location">    
                    <% } %>
                <input type="submit">
            </form>
        </div> 
    </div>
</body>
</html>