body
{
    background-color: antiquewhite;
}

div.back_stage
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div.main_weather
{

} */